.classification-table {
  width: 100%;

  margin: 0.75em 0;

  & td:not(:first-child),
  & th:not(:first-child) {
    padding: 0 0 0 1em;
  }

  & tr {
    text-align: right;
    
    & > :not(:first-child) {
        width: 12.5%;
    }

    & > :first-child {
        text-align: left;
        width: 50%;
    }
  }

  & tfoot {
      font-weight: 900;
  }
}

svg {
    width: 95%;
    height: auto;
    padding: 0 2.5%;
}


@media only screen and (max-width: 768px) {
  table {
    padding-right: 0.5em;
  }

  .two-columns {
    padding-right: 0.5em;
  }
}

.table-wrapper {
  overflow: hidden;
  overflow-x: auto;
  clear: both;
  width: 100%;
}

section {
    page-break-inside: avoid;
}

.two-columns {
    display: flex;
}

.balance-total {
    margin-top: 0.75em;
    font-style: italic;
    page-break-after: always;
}

.balance-total > .left {
    padding-right: 1em;
}

.two-columns > * {
    flex: 1;
}

.balance > .left {
    padding-right: 1em;
}

.balance--line {
    display: flex;
}

.balance--line > .balance--line--description {
    flex: 2;
}

.balance--line > .balance--line--amount {
    display: flex;
    flex: 1;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
}

.balance--line > .balance--line--total {
    font-weight: 900;
    font-style: italic;
    margin-top: 0.2em;
}

.balance--header {
    margin: 1.25em 0 0.25em 0;
}

.table-of-contents {
    & a {
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline;
    }

    & ul {
        padding-inline-start: 20px;
    }

    & li {
        margin-top: 0.2em;
        list-style-type: none;
    }
}

.warning {
  background-color: var(--yellow);
  padding: 1em 0.75em;
}


@media print { 
  /* We cannot add page numbering to the ToC, so it is not useful when printed.*/
  .table-of-contents {
      display: none;
  }

  svg {
    max-height: 40vw;
  }

  /* Hide fill under graph line when printing. */
  g[clip-path="url(#clip1)"] {
    display: none;
  }
}