
body {
    /* background-color: var(--red); */
}

table {
    width: 100%;
}

tr {
    text-align: right;
    
    & > :not(:first-child) {
        width: 12.5%;
    }

    & > :first-child {
        text-align: left;
        width: 50%;
    }
}

tfoot {
    font-weight: 900;
}
