table {
    width: 100%;
}

section {
    page-break-inside: avoid;
}

tr {
    text-align: right;
    
    & > :not(:first-child) {
        width: 12.5%;
    }

    & > :first-child {
        text-align: left;
        width: 50%;
    }
}

tfoot {
    font-weight: 900;
}

.two-columns {
    display: flex;
}

.balance-total {
    margin-top: 0.5em;
    font-style: italic;
    page-break-after: always;
}

.balance-total > .left {
    padding-right: 1em;
}

.two-columns > * {
    flex: 1;
}

.balance > .left {
    padding-right: 1em;
}

.balance--line {
    display: flex;
}

.balance--line > .balance--line--description {
    flex: 2;
}

.balance--line > .balance--line--amount {
    display: flex;
    flex: 1;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
}

.balance--line > .balance--line--total {
    font-weight: 900;
    font-style: italic;
    margin-top: 0.2em;
}