:root {
  /* From: https://svia.nl/huisstijl */
  --blue: #304ba3;
  --red: #da291c;
  --orange: #f68d2e;
  --yellow: #f1b434;
  --green: #1fa824;
  --purple: #ae2573;
  /* Misc */
  --lightgray: #e6e6e6;
  --darkgray: #0d1117;
  --white: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace, -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}

main {
  padding: 3vh 0;
  width: 60%;
  margin: 0 auto;

  & > :first-child {
    margin-top: 0;
  }
}

a {
  color: var(--blue);
}

/* Warning */
.warning {
  background-color: var(--yellow);
  padding: 1em 0.75em;
}

table {
  margin: 0.75em 0;

  & td,
  & th {
    padding-left: 1em;
  }
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
  font-size: 1rem;
}

hr {
  border: 0;
  border-top: solid 2px var(--lightgray);
  margin: 5vh 0;
}